In [1]:
from api.db import db

await db.init()

In [6]:
import polars as pl

items = pl.read_csv("../db/csvs/item.csv")

await db.insert(items, "item", pkey_cols={"id"})

In [7]:
await db.fetch("SELECT * FROM item LIMIT 10")

shape: (7, 3)
┌─────────┬─────────┬──────────────┐
│ id      ┆ name    ┆ price        │
│ ---     ┆ ---     ┆ ---          │
│ i64     ┆ str     ┆ decimal[*,2] │
╞═════════╪═════════╪══════════════╡
│ 1965488 ┆ onion   ┆ 2.99         │
│ 1870644 ┆ bbq     ┆ 6.99         │
│ 69420   ┆ condoms ┆ 69.42        │
│ 696969  ┆ weed    ┆ 4.20         │
│ 6334    ┆ beans   ┆ 69.99        │
│ 34893   ┆ chalk   ┆ 8.99         │
│ 22334   ┆ poop    ┆ 100.99       │
└─────────┴─────────┴──────────────┘